################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinansUygulmasi/bin/Debug/net8.0
